h2{
    padding-top: 1rem;
    text-align: center;
    text-decoration: underline;
}
.container{
    width: 70%;
}
label{
    margin-top: 0.4rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}
h3{
    text-align: center;
    color: black;
    text-decoration: underline;
}
.btn-primary{
    text-align: center;
    margin-left: 30rem;
}

.btn-warning{
    margin-right: 1rem;
    width: 20%;
}
th{
    text-align: center;
}
td{
    text-align: center;
}